/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "GraphikBold";
	src: url("../fonts/GraphikBold/Graphik-Bold-Web.eot");
	src: url("../fonts/GraphikBold/Graphik-Bold-Web.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GraphikBold/Graphik-Bold-Web.ttf") format("truetype"),
	url("../fonts/GraphikBold/Graphik-Bold-Web.woff") format("woff"),
	url("../fonts/GraphikBold/Graphik-Bold-Web.woff2") format("woff2");
	font-style: bold;
	font-weight: 100;
	
}
@font-face {
	font-family: "GraphikMedium";
	src: url("../fonts/GraphikMedium/Graphik-Medium-Web.eot");
	src: url("../fonts/GraphikMedium/Graphik-Medium-Web.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GraphikMedium/Graphik-Medium-Web.ttf") format("truetype"),
	url("../fonts/GraphikMedium/Graphik-Medium-Web.woff") format("woff"),
	url("../fonts/GraphikMedium/Graphik-Medium-Web.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "GraphikRegular";
	src: url("../fonts/GraphikRegular/Graphik-Regular-Web.eot");
	src: url("../fonts/GraphikRegular/Graphik-Regular-Web.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GraphikRegular/Graphik-Regular-Web.ttf") format("truetype"),
	url("../fonts/GraphikRegular/Graphik-Regular-Web.woff") format("woff"),
	url("../fonts/GraphikRegular/Graphik-Regular-Web.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}
h1,h2 {
	font-family: 'GraphikBold';

}
h3,h4 {
	font-family: 'GraphikMedium';
}
h1 {
	font-size:48px;
	margin: 0;
	}
h2 {
	font-size:32px;
	margin: 0;
	}
h3 {
	font-size:24px;
	margin: 0;
	}
h4 {
	font-size:18px;
	line-height: 28px;
	margin: 0;
	}
.P_Lead {
	font-size:24px;
	margin: 0;
	}
.P_18 {
	font-size:18px;
	line-height: 28px;
	margin: 0;
}
.P_16 {
	font-size:16px;
	margin: 0;
}
.P_14 {
	font-size:14px;
	line-height: 20px;
	margin: 0;
}
