.humanDepartment {
	width: 1000px;
	margin: 0 auto;
	background: #CFE1F3;
	&__header {
		text-align: center;
	}
	&__controllers {
		display:flex;
		width: 100%;
		margin: 20px 0 0 0;
		
		justify-content: space-around;
		&-data {
			width:200px;
			margin: 10px auto;
		}
	}
	&__controller {
		cursor: pointer;
		color:black;
		
		&-hidden {
			display: none;
		}
		&:hover {
			color:black;
			text-decoration: none;
		}		
	}
	&__data {
		margin: 0 auto;
		border:1px solid black;
	}
	&__row {
		border:1px solid black;
		
	}
	&__cell {
		min-width:240px;
		height:100px;
		
		max-width:240px;
		border:1px solid black;
		
	}
}